<h2 style="display:grid;">update-employee</h2>

<form #formData="ngForm" (ngSubmit)="updateEmp(formData)">
    <h1>Fill Employee Sign-Up Form</h1>

    <div>
        <label for="">EmployeeId:</label>
        <input type="text" #id name="id" [(ngModel)]="cEmp.id" class="form-control">
    </div><br>
    <div>
        <label for="">FirstName:</label>
        <input type="text" #fname name="fname" [(ngModel)]="cEmp.fname" class="form-control">
    </div><br>
   <div>
        <label for="">Department:</label>
        <input type="text" #depart name="depart" [(ngModel)]="cEmp.depart" class="form-control">
    </div><br>
  
    <div>
        <label for="">Email:</label>
        <input type="text" #city name="city" [(ngModel)]="cEmp.city" class="form-control">
    </div>
    <button class="btn btn-primary">Reset</button>&nbsp;&nbsp;
    <button class="btn btn-primary">submit</button>
    
   
</form>